<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="menusearch.service.js"></script>
    <script src="narrow.controller.js"></script>
    <script src="founditems.component.js"></script>
    <script src="narrow.module.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrow" ng-init="narrow.init()">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="narrow.searchTerm" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrow.fetchForTerm()">Narrow It Down For Me!</button>
    </div><br><br><br>
     <div>
       <!--<ul>-->
         <!--<li ng-repeat="item in narrow.found track by $index">{{ narrow.items[$index]}} </li>-->
       <!--</ul>-->
     </div>


    <!-- found-items should be implemented as a component -->
    <div class="error">{{narrow.message}}</div>
    <found-items
      items="narrow.found"
      on-remove="narrow.removeItem(index)"
      message="narrow.message">
    </found-items>
  </div>

</body>
</html>
